ul.course_list {
  list-style-type: none;
}

ul.course_list li.grade:before {
  content: var(--grade);
  font-style: italic;
  margin-right: 5px;
  position: absolute;
  margin-left: -25px;
  text-align: center;
}

.course_list li:not(:last-child) {
  margin-bottom: 15px;
}

.description, .literature {
  font-size: var(--font-size-small);
}

.literature {
  color: gray;
}

.grade {
  position: absolute;
  margin-left: -20px;
  font-style: italic;
  text-align: center;
}

.time_and_place {
  font-size: var(--font-size-small);
  color: gray;
}

.time_and_place ul {
  padding: 0;
  margin: 0;
}

.time_and_place li {
  display: inline;
}

.time_and_place li + li:before{
  content: " | ";
  padding: 0 5px;
}

.course {
  color: var(--color-link)
}