.note-list dd {
    display: list-item;
    list-style-type: disc;
}

.note-list dt {
    font-family: var(--sans-serif-font);
    font-weight: bold;
    margin-top: 10px;
}

#education_list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#education_list li {
        margin: 10px 0;
}