@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital@0;1&display=swap');

:root {
  /* Text */
  --serif-font: 'Crimson Pro';
  --sans-serif-font: 'Open Sans', Arial;
  --body-font-size: 20px;
  
  /* Colours */
  --bg: #ffffff;
  --text: #454545;
  --header-bg: #eeeeee;
  --header-text: #777777;
  --title-color: #683e3e;
  --border: #d8dae1;
  --footer-text: #aeaeae;
  --link-color: #a91616;
}

body {
  font-family: var(--serif-font), var(--sans-serif-font);
  color: var(--text);
  font-size: var(--body-font-size);
  background: var(--bg);
  line-height: 1.4;
  text-align: justify;
  margin: 0 auto;
  max-width: 45rem;
  padding: 0 .5rem;
  overflow-x: hidden;
}

header {
  color: var(--header-text);
  background: var(--header-bg);
  border-bottom: 1px solid var(--border);
  text-align: center;
  padding: 2rem .5rem;
  width: 100vw;
  position: relative;
  box-sizing: border-box;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

header h1, header p {
  margin: 0; 
}

header h1 {
  color: var(--title-color);
}

header a, header a:visited {
  text-decoration: none;
  color: var(--header-text);
}

footer {
  margin-top: 3rem;
  padding: 1rem 1rem 2rem 1rem;
  color: var(--footer-text);
  text-align: center;
  border-top: 1px solid var(--border);
}

.course {
  font-style: italic;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

h2 {
  line-height: 20px;
  padding-top: 10px;
}

h2, h3 {
  color: var(--header-text);
}

q {
  quotes: "‘" "’" "“" "”";
}

cite.book {
  font-style: italic;
}

cite.article {
  font-style: normal;
  quotes: "‘" "’" "“" "”";
}

/* Articles are cited by enclosing in single curly quotes. */
cite.article::before {
  content: open-quote;
}

cite.article::after {
  content: close-quote;
}

/* Table of contents */
#toc {
  position: fixed;
  right: 15pt;
  top: 128pt;
  background-color: var(--header-bg);
  border: 1pt solid var(--border);
  width: 160pt;
  color: var(--header-text);
}

#toc h2 {
  text-align: center;
  font-size: var(--body-font-size);
}

.toclink.active {
  font-weight: bold;
}

@media print {
  #toc {
    display: none;
  }
}