/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  /* Typefaces */
  --font-main: 'JetBrains Mono';
  
  /* Font sizes */
  --font-size-regular: 14px;
  --font-size-small: 12px;
  --font-size-header: var(--font-size-small);
  --font-size-title: 24px;
  --font-size-footer: var(--font-size-small);
  --font-size-h2: var(--font-size-title);
  --font-size-h3: 18px;
  --font-size-h4: 14px;
  --font-size-nav-title: 16px;
  --font-size-nav1: var(--font-size-regular);
  --font-size-nav2: var(--font-size-small);
  
  /* Colours */
  --color-background: #1d1f21;
  --color-text: #c9cacc;
  --color-link: #2bbc8a;
  --color-header-text: var(--color-link);
  --color-header-link: var(--color-link);
  --color-title: var(--color-text);
  --color-h2: var(--color-link);
  --color-h3: white;
  --color-h4: var(--color-h3);
  --color-nav-title: var(--color-h2);
  --color-nav-link1: var(--color-text);
  --color-nav-link2: var(--color-footer-link);
  --color-nav-active: white;
  --color-footer-text: #666666;
  --color-footer-link: var(--color-footer-text);
  --color-hash: #145d43;
}

html{
  scroll-behavior: smooth;
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%)); /* https://stackoverflow.com/a/39289453/2578065 */
}


/* BODY */

body {
  font-family: var(--font-main);
  color: var(--color-text);
  font-size: var(--font-size-regular);
  background: var(--color-background);
  line-height: 1.7;
  text-align: left;
  margin: 0 auto;
  max-width: 42rem;
  padding: 0 .5rem;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


/* HEADER */

header {
  font-size: var(--font-size-header);
  color: var(--color-header-text);
  text-align: left;
  padding-top: 4rem;
  padding-bottom: 1rem;
}

header h1 {
  font-size: var(--font-size-title);
  color: var(--color-title);
  margin: 0;
}

header a, header a:visited {
  color: var(--color-header-link);
}

header ul {
  padding: 0;
  margin: 0;
}

header li {
  display: inline;
}

header li + li:before{
  content: " | ";
  padding: 0 5px;
}


/* NAV */

nav {
  position: fixed;
  right: 33px;
  top: 120px;
  width: 216px;
  text-align: right;
  font-size: var(--font-size-nav1);
}

nav h2 {
  text-align: right;
  font-size: var(--font-size-nav-title);
  color: var(--color-nav-title);
}

nav a {
  color: var(--color-nav-link1);
}

nav ul {
  list-style-type: none;
}

nav ul li {
  line-height: 1.5;
}

nav ul li a:before {
  content: "#";
  color: var(--color-header-text);
  position: absolute;
  margin-left: -13px;
  /* margin-top: 2px; */
}

nav ul li ul li {
  line-height: 1.4;
}

nav ul li ul li a {
  font-size: var(--font-size-nav2);
  color: var(--color-footer-text);
}

nav ul li ul li a:before {
  content: "•";
  font-size: var(--font-size-nav1);
  color: var(--color-header-text);
  position: absolute;
  margin-left: -11px;
  margin-top: 1px;
}

.navlink.active {
  font-weight: bold;
  color: var(--color-nav-active);
}


/* MAIN */

a {
  color: var(--color-link);
}

h2 {
  font-size: var(--font-size-h2);
  font-weight: bold;
  color: var(--color-h2);
  line-height: 20px;
  padding-top: 10px;
}

h2 a {
  color: var(--color-header-text);
  text-decoration: none;
}

h3 {
  font-size: var(--font-size-h3);
  font-weight: bold;
  color: var(--color-h3);
}

h3 a {
  color: var(--color-h3);
}

h3 a:hover:before {
  color: var(--color-header-text);
  content: "#";
  position: absolute;
  margin-left: -14px;
}

h4 {
  font-size: var(--font-size-h4);
  font-weight: bold;
  font-style: italic;
  color: var(--color-h4);
}

h4 a {
  color: var(--color-h4);
}

h4 a:hover:before {
  content: "#";
  font-style: normal;
  color: var(--color-header-text);
  position: absolute;
  margin-left: -11px;
}

q {
  quotes: "‘" "’" "“" "”";
}

cite.book {
  font-style: italic;
}

cite.article {
  font-style: normal;
  quotes: "‘" "’" "“" "”";
}

/* Articles are cited by enclosing in single curly quotes. */
cite.article::before {
  content: open-quote;
}

cite.article::after {
  content: close-quote;
}

.course {
  font-style: italic;
}

@media print {
  nav {
    display: none;
  }
}

.MathJax {
  font-size: 1.2em !important;
}

code {
  font-family: var(--font-main);
  color: var(--color-link);
}

pre {
  margin: 20px 30px;
  padding: 0px 10px;
  white-space: pre-line;
  border-style: none none none solid;
  border-color: var(--color-link);
}

pre > code > span {
  white-space: pre;
}


/* FOOTER */

footer {
  font-size: var(--font-size-footer);
  color: var(--color-footer-text);
  margin-top: 3rem;
  padding-bottom: 5rem;
}

footer a {
  color: var(--color-footer-link);
}

.footer-left {
  float: left;
}

.footer-right {
  float: right;
}
